.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    margin: 0 auto;
}

.header-name {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: 18px;
    color: #E5E7EB;
}

/* Helps get rid of purple underline in links */
a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Also helps get rid of purple links, even if you visited the page already */
a:visited {
    text-decoration: none;
    color: #E5E7EB;
}